.active{
    /* text-decoration: underline red !important; */
    border: 2px solid white;
    color: black;
    border-radius: 7px;
    background-color: white;
    padding: 10px;
    font-weight: bold;
}